*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #89a88569;
}
button{
    background: #dce688;
    width: 200px;
    height: 50px;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    border-end-start-radius: 5% 10%;
    border-end-end-radius: 5% 10%;
    position: absolute;
    top: 80%;
}
.encabezado{
    background: #2ec5be;
    font-family: 'Helveticah' , Arial;
    color: #1b0f0f;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 25px;
}
.simulacion{
    background: white;
    color: #1b0f0f;
    width: 90%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 15%;
    left: 5%;
    justify-content: center;
    border-start-start-radius: 3% 5%;
    border-start-end-radius: 3% 5%;
}
.biorreactor{
    background: transparent;
    width: 280px;
    height: 305px;
    position: absolute;
    top: 30%;
    left: 10%;
    /* scale: 50%; */
}
.monitor{
    background: #f0e088;
    width: 250px;
    height: 160px;
    position: absolute;
    top: 10%;
    left: 50%;
    border: 5px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    border-end-start-radius: 5% 10%;
    border-end-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
}
.recipientes{
    background: transparent;
    width: 150px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 55%;
}
.recipientes::after{
    background: #2ec5be;
    width: 150px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 55%;
}
.aire{
    background: #d9d9f8;
    width: 100px;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helveticah' , Arial;
    border: 2px solid black;
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
    border-end-start-radius: 40% 10px;
    border-end-end-radius:40% 10px;
}
.aire::before{
    content: "";
    background: black;
    width: 30px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.contenedor{
    background: transparent;
    width: 200px;
    height: 150px;
    position: absolute;
    top: 5px;
    left: 40px;
}
.contenedor1{
    background: white;
    width: 200px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 5px solid #c9c2c2;
    border-end-start-radius: 60px 50px;
    border-end-end-radius: 60px 50px;
}
.liquido{
    content: "";
    background: #a1a14aa8;
    width: 200px;
    height: 220px;
    position: absolute;
    top: 30px;
    left: 0px;
    border-left: 5px solid #c9c2c2;
    border-right: 5px solid #c9c2c2;
    border-bottom: 5px solid #c9c2c2;
    border-end-start-radius: 60px 50px;
    border-end-end-radius: 60px 50px;
}
.contenedor2{
    background: transparent;
    width: 250px;
    height: 260px;
    position: absolute;
    top: 40px;
    left: -25px;
    border: 5px solid #c9c2c2;
    border-end-start-radius: 50% 12%;
    border-end-end-radius: 50% 12%;
}
.tapa{
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}
.tapa1{
    background: #8a8ae4;
    width: 280px;
    height: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.tapa2{
    background: #8a8ae4;
    width: 240px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 20px;
}
.acido{
    background: #f36565;
    width: 60px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helveticah' , Arial;
}
.acido::after{
    content: "";
    background: black;
    width: 30px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.acido::before{
    content: "";
    background: black;
    width: 20px;
    height: 5px;
    position: absolute;
    top: -15px;
}
.base{
    background: #7c7cec;
    width: 60px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 90px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helveticah' , Arial;
}
.base::after{
    content: "";
    background: black;
    width: 30px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.base::before{
    content: "";
    background: black;
    width: 20px;
    height: 5px;
    position: absolute;
    top: -15px;
}
.rotometro{
    background: #89c1c457;
    width: 20px;
    height: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotometro::before{
    content: "";
    background: #89c1c4;;
    width: 4px;
    height: 45px;
    position: absolute;
    border: 2px solid black;
}
.sistema_de_agitacion{
    background: transparent;
    width: 120px;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 80px;
    display: flex;
    justify-content: center;
}
.pala_central{
    background: black;
    width: 15px;
    height: 250px;
    position: absolute;
    top: -50px;
}
.pala1{
    background: black;
    width: 120px;
    height: 15px;
    position: absolute;
    top: 80px;
}
.pala2{
    background: black;
    width: 120px;
    height: 15px;
    position: absolute;
    top: 120px;
}
.pala3{
    background: black;
    width: 120px;
    height: 15px;
    position: absolute;
    top: 160px;
}
.motor{
    background: #f18238;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -80px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motor::before{
    content: "";
    background: #f18238;
    width: 33px;
    height: 8px;
    position: absolute;
    top: -10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-start-start-radius: 15px  7px;
    border-start-end-radius: 15px  7px;
}
.motor::after{
    content: "";
    background: #8f8f8f;
    width: 25px;
    height: 5px;
    position: absolute;
    top: 48px;
    border: 1px solid black;
    
}
.rayas_motor{
    background: #000000;
    width: 2px;
    height: 30px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rayas_motor::before{
    content: "";
    background: transparent;
    width: 20px;
    height: 30px;
    position: absolute;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.rayas_motor::after{
    content: "";
    background: transparent;
    width: 40px;
    height: 30px;
    position: absolute;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.agua{
    background: #f36565;
    width: 95px;
    height: 85px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 300px;
    left: 500px;
    border: 2px solid black;
    border-radius: 10px;
}
.agua::before{
    content: "";
    background: #ffffff;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
    border-radius: 50%;
}
.agua::after{
    content: "AGUA";
    background: transparent;
    position: absolute;
    top: 55px;
    font-family: 'Helveticah' , Arial;
}
.filtro{
    background: #89c1c457;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -30px;
    left: 45px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtro::before{
    content: "";
    background: #89c1c4;;
    width: 4px;
    height: 37px;
    position: absolute;
    top: 18px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.filtro::after{
    content: "";
    background: #89c1c4;;
    width: 10px;
    height: 4px;
    position: absolute;
    left: -11px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}