*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #89a88569;
}
ul {
    list-style: none;
    padding: -20px;
    margin: 0;
}
  
form li + li {
    margin-top: 5px;
}
label {
    display: inline-block;
    width: 300px;
    text-align: right;
}
form {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 1em;
    font-family: 'Helveticah' , Arial;
    font-size: 14px;
  }
input{
    background: #f0e9e9;
    font-family: 'Helveticah' , Arial;
    padding-block: 5px;
    padding-inline: 5px;
    height: 20px;
    width: 50px;
    border-radius: 5px;
    justify-content: left;
    align-items: center;
}

.bt{
    background: #f0f1ef;
    font-family: 'Helveticah' , Arial;
    padding-block: 2px;
    padding-inline: 2px;
    width: 100px;
    top: 400px;
    justify-content: center;
}
.b_simulacion{
    background: #dce688;
    width: 200px;
    height: 50px;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    border-end-start-radius: 5% 10%;
    border-end-end-radius: 5% 10%;
    position: absolute;
}
.encabezado{
    background: #2ec5be;
    font-family: 'Helveticah' , Arial;
    color: #1b0f0f;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 25px;
}
.nombre_pag{
    background: rgb(240, 215, 182);
    font-family: 'Helveticah' , Arial;
    font-size: medium;
    color: #1b0f0f;
    display: flex;
    justify-content: center;
    padding-block: 10px;
    padding-inline: 10px;
    position: absolute;
    top: 10px;
    border-radius: 10px;
}
.simulacion{
    background: white;
    color: #1b0f0f;
    width: 90%;
    height: 110%;
    display: flex;
    position: absolute;
    top: 15%;
    left: 5%;
    justify-content: center;
    border-start-start-radius: 3% 5%;
    border-start-end-radius: 3% 5%;
    justify-content: center;
    align-items: center;
}
.cubierta_simulacion{
    background: rgb(201, 188, 188);
    color: #1b0f0f;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    border-start-start-radius: 3% 5%;
    border-start-end-radius: 3% 5%;
    justify-content: center;
    align-items: center;
}
.biorreactor{
    background: transparent;
    width: 280px;
    height: 305px;
    position: absolute;
    top: 47%;
    /* left: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor1{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 165px;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border-left: 5px solid #e48b17;
    border-right: 5px solid #e48b17;
    border-top: 5px solid #e48b17;
    border-bottom: 15px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor2{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 130px;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border-left: 5px solid #e48b17;
    border-right: 5px solid #e48b17;
    border-top: 5px solid #e48b17;
    border-bottom: 30px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor3{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 170px;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border-left: 5px solid #e48b17;
    border-right: 5px solid #e48b17;
    border-top: 5px solid #e48b17;
    border-bottom: 40px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor4{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 170px;;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border-left: 5px solid #e48b17;
    border-right: 5px solid #e48b17;
    border-top: 5px solid #e48b17;
    border-bottom: 40px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor5{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 170px;;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border-left: 5px solid #e48b17;
    border-right: 5px solid #e48b17;
    border-top: 5px solid #e48b17;
    border-bottom: 40px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor6{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 170px;;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border-left: 5px solid #e48b17;
    border-right: 5px solid #e48b17;
    border-top: 5px solid #e48b17;
    border-bottom: 40px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipientes{
    background: transparent;
    width: 240px;
    height: 80px;
    position: absolute;
    top: 540px;
    left: 770px;
}
.recipientes::after{
    background: #2ec5be;
    width: 150px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 55%;
}
.aire{
    background: #d9d9f8;
    width: 100px;
    height: 320px;
    position: relative;
    top: 92px;
    left: -350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helveticah' , Arial;
    border: 2px solid black;
    border-start-start-radius: 35px;
    border-start-end-radius: 35px;
    border-end-start-radius: 40% 10px;
    border-end-end-radius:40% 10px;
}
.aire::before{
    content: "";
    background: rgb(136, 132, 132);
    width: 4px;
    height:45px;
    position: absolute;
    border: 1px solid black;
    top: -48px;
}
.aire::after{
    content: "";
    background: #888484;
    width: 20px;
    height:5px;
    position: absolute;
    border: 1px solid black;
    border-radius: 2px;
    top: -50px;
}
.aire_complementos{
    background: #bbb0b0;
    width: 40px;
    height: 17px;
    position: absolute;
    top: -18px;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
}
.aire_complementos::after{
    content: "";
    background: #bbb0b0;
    width: 20px;
    height: 16px;
    position: absolute;
    top: -18px;
    border: 1px solid black;
    display: flex;
    justify-content: center;  
}
.contenedor{
    background: transparent;
    width: 200px;
    height: 150px;
    position: absolute;
    top: 5px;
    left: 40px;
    display: flex;
    justify-content: center;
}
.contenedor1{
    background: white;
    width: 200px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 5px solid #888080;
    border-end-start-radius: 60px 50px;
    border-end-end-radius: 60px 50px;
}
.liquido{
    background: #a0a062a8;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 0px;
    border-left: 5px solid #888080;
    border-right: 5px solid #888080;
    border-bottom: 5px solid #888080;
    border-end-start-radius: 60px 50px;
    border-end-end-radius: 60px 50px;
}
.chaquetas{
    background: transparent;
    width: 190px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-left: 7px solid #000000;
    border-right: 7px solid #000000;
}
.contenedor2{
    background: transparent;
    width: 250px;
    height: 240px;
    position: absolute;
    top: 40px;
    left: -25px;
    border: 5px solid #888080;
    border-end-start-radius: 50% 12%;
    border-end-end-radius: 50% 12%;
}
.tapa{
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}
.tapa1{
    background: #8a8ae4;
    width: 280px;
    height: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid black;
}
.tapa2{
    background: #8a8ae4;
    width: 240px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 20px;
    border: 1px solid black;
}
.acido{
    background: #f36565;
    width: 60px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helveticah' , Arial;
}
.acido::after{
    content: "";
    background: black;
    width: 30px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.acido::before{
    content: "";
    background: black;
    width: 20px;
    height: 5px;
    position: absolute;
    top: -15px;
}
.base{
    background: #7c7cec;
    width: 60px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 90px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helveticah' , Arial;
}
.base::after{
    content: "";
    background: black;
    width: 30px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.base::before{
    content: "";
    background: black;
    width: 20px;
    height: 5px;
    position: absolute;
    top: -15px;
}
.antiespumante{
    background: #60e672;
    width: 60px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 180px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helveticah' , Arial;
    font-size: 6px;
}
.antiespumante::after{
    content: "";
    background: black;
    width: 30px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.antiespumante::before{
    content: "";
    background: black;
    width: 20px;
    height: 5px;
    position: absolute;
    top: -15px;
}
.rotometro{
    background: #89c1c4;
    width: 20px;
    height: 90px;
    position: absolute;
    top: 175px;
    left: 400px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 120%;
}
.rotometro::before{
    content: "";
    background: #89c1c4;;
    width: 6px;
    height: 60px;
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
}
.rotometro::after{
    content: "";
    background: #ff0000;
    width: 10px;
    height: 5px;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    top: 78px;
}
.indicador_rotometro{
    background: #f19203;
    width: 6px;
    height: 6px;
    top: 68px;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esparcidor{
    background: white;
    width: 105px;
    height: 11px;
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    top: 230px;
    display: flex;
    justify-content: center;
}
.esparcidor::before{
    content: "";
    background: transparent;
    width: 20px;
    height: 5px;
    position: absolute;
    border-left: 6px solid black;
    border-right: 6px solid black;
    top: 0px;
}
.esparcidor::after{
    content: "";
    background: transparent;
    width: 70px;
    height: 5px;
    position: absolute;
    border-left: 6px solid black;
    border-right: 6px solid black;
    top: 0px;
}
.conducto_aire{
    background: white;
    width: 8px;
    height: 270px;
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    top: -75px;
    left: 14px;
    display: flex;
    justify-content: center;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}
.conducto_aire::before{
    content: "";
    background: white;
    width: 7px;
    height: 51px;
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;
    top: 270px;
    left: -8.5px;
    display: flex;
    justify-content: center;
    rotate: 40deg;
    translate: -8.7px -7.8px;
}
.tuberias_aire{
    background: white;
    width: 255px;
    height: 8px;
    position: absolute;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    top: -25px;
    left: 58px;
    display: flex;
    justify-content: center;
}

.sistema_de_agitacion{
    background: transparent;
    width: 100px;
    height: 200px;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pala_central{
    background: #777272;
    width: 8px;
    height: 250px;
    position: absolute;
    top: -50px;
    border: 1px solid black;
}
.cubierta_pala_central{
    background: rgb(119, 114, 114);
    width: 6px;
    height: 240px;
    position: absolute;
    top: -50px;
}
.pala1{
    background: #777272;
    width: 100px;
    height: 5px;
    position: absolute;
    top: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.pala1::before{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: -1px;
}
.pala1::after{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: 82px;
}
.pala2{
    background: #777272;
    width: 100px;
    height: 5px;
    position: absolute;
    top: 135px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.pala2::before{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: -1px;
}
.pala2::after{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: 82px;
}
.pala3{
    background: #777272;
    width: 100px;
    height:5px;
    position: absolute;
    top: 170px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.pala3::before{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: -1px;
}
.pala3::after{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: 82px;
}
.motor{
    background: #f18238;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -80px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale:80%
}
.motor::before{
    content: "";
    background: #f18238;
    width: 33px;
    height: 8px;
    position: absolute;
    top: -10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-start-start-radius: 15px  7px;
    border-start-end-radius: 15px  7px;
}
.motor::after{
    content: "";
    background: #8f8f8f;
    width: 20px;
    height: 5px;
    position: absolute;
    top: 48px;
    border: 1px solid black;
    
}
.rayas_motor{
    background: #000000;
    width: 2px;
    height: 30px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rayas_motor::before{
    content: "";
    background: transparent;
    width: 20px;
    height: 30px;
    position: absolute;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.rayas_motor::after{
    content: "";
    background: transparent;
    width: 40px;
    height: 30px;
    position: absolute;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.agua{
    background: #f36565;
    width: 95px;
    height: 89px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 560px;
    left: 370px;
    border: 2px solid black;
    border-radius: 10px;
}
.agua::before{
    content: "";
    background: #ffffff;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
    border-radius: 50%;
}
.agua::after{
    content: "AGUA";
    background: transparent;
    position: absolute;
    top: 55px;
    font-family: 'Helveticah' , Arial;
}
.tuberias_agua1{
    background: white;
    width: 290px;
    height: 8px;
    position: absolute;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    top: 65px;
    left: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tuberias_agua1::after{
    content: "";
    background: rgb(138, 138, 138);
    width: 10px;
    height: 15px;
    position: absolute;
    border: 2px solid black;
    left: 0px;
    display: flex;
    justify-content: center;
}
.tuberias_agua1::before{
    content: "";
    background: white;
    width: 6px;
    height: 170px;
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    top: -171px;
    left: 282px;
    display: flex;
    justify-content: center;
}
.tuberias_agua11{
    background: rgb(255, 255, 255);
    width: 19px;
    height: 8px;
    position: absolute;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    top: -171px;
    left: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tuberias_agua2{
    background: white;
    width: 8px;
    height: 170px;
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    top: -170px;
    display: flex;
    justify-content: center;
}
.tuberias_agua2::before{
    content: "";
    background: rgb(138, 138, 138);
    width: 20px;
    height: 10px;
    position: absolute;
    border: 2px solid black;
    top: 156px;
    display: flex;
    justify-content: center;
}
.tuberias_agua2::after{
    content: "";
    background: white;
    width: 66px;
    height: 6px;
    position: absolute;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    top: -1px;
    left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtro{
    background: #89c1c457;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -30px;
    left: 220px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtro::before{
    content: "";
    background: #89c1c4;;
    width: 4px;
    height: 37px;
    position: absolute;
    top: 18px;
    left: 10%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.filtro::after{
    content: "";
    background: #89c1c4;;
    width: 20px;
    height: 4px;
    position: absolute;
    left: 28px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.sensor_ph{
    background: #a3a3a3;
    width: 5px;
    height: 150px;
    position: absolute;
    top: -70px;
    left: 28px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sensor_ph::before{
    content: "";
    background: #4043e9;
    width: 8px;
    height: 50px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.sensor_temperatura{
    background: #a3a3a3;
    width: 5px;
    height: 150px;
    position: absolute;
    top: -70px;
    left: 42px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sensor_temperatura::before{
    content: "";
    background: #f53a0b;
    width: 8px;
    height: 50px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.sensor_o2{
    background: #a3a3a3;
    width: 5px;
    height: 150px;
    position: absolute;
    top: -70px;
    left: 56px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sensor_o2::before{
    content: "";
    background: #cd11f3;
    width: 8px;
    height: 50px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.sensor_espuma{
    background: #a3a3a3;
    width: 5px;
    height: 110px;
    position: absolute;
    top: -70px;
    left: 70px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sensor_espuma::before{
    content: "";
    background: #68be16;
    width: 8px;
    height: 50px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.receptor_tuberias{
    background: #a3a3a3;
    width: 37px;
    height: 26px;
    position: absolute;
    top: 77px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.receptor_tuberias::before{
    content: "";
    background: #a3a3a3;
    width: 40px;
    height: 5px;
    position: absolute;
    top: -1px;
    border: 1px solid black;
}
.receptor_tuberias::after{
    content: "";
    background: #a3a3a3;
    width: 40px;
    height: 15px;
    position: absolute;
    top: 8px;
    border: 1px solid black;
}
.conducto_acido_base{
    background: #ffffff;
    width: 31px;
    height: 142px;
    position: absolute;
    top: -107px;
    left: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.conducto_acido_base::before{
    content: "";
    background: #ffffff;
    width: 7px;
    height: 142px;
    position: absolute;
    top: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.conducto_astiespumante{
    content: "";
    background: #ffffff;
    width: 8px;
    height: 142px;
    position: absolute;
    top: -107px;
    left: 168px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.regulador_acido{
    background: #e1eb57;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 125px;
    left: 145px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regulador_base{
    background: #e1eb57;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 125px;
    left: 164px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regulador_antiespumante{
    background: #e1eb57;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 125px;
    left: 183px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicador_acido{
    background: #aaad7c;
    width: 15px;
    height: 15px;
    position: absolute;
    border: 1px solid black;
    border-radius: 7.5px;
    top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicador_acido::after{
    content: "";
    background: #000000;
    width: 2px;
    height: 14px;
}
.indicador_base{
    background: #aaad7c;
    width: 15px;
    height: 15px;
    position: absolute;
    border: 1px solid black;
    border-radius: 7.5px;
    top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicador_base::after{
    content: "";
    background: #000000;
    width: 2px;
    height: 14px;
}
.indicador_antiespumante{
    background: #aaad7c;
    width: 15px;
    height: 15px;
    position: absolute;
    border: 1px solid black;
    border-radius: 7.5px;
    top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicador_antiespumante::after{
    content: "";
    background: #000000;
    width: 2px;
    height: 14px;
}

.bornera1{
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 147px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bornera1::before{
    content: "";
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2.5px;
}
.conector1{
    background: transparent;
    width: 1px;
    height: 110px;
    position: absolute;
    top: 11px;
    border: 1px solid black;
}

.bornera2{
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 103px;
    left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bornera2::before{
    content: "";
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2.5px;
}
.conector2{
    background: transparent;
    width: 62px;
    height: 1px;
    position: absolute;
    left: -78px;
    border: 1px solid black;
}

.bornera3{
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 148px;
    left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bornera3::before{
    content: "";
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2.5px;
}
.conector3{
    background: transparent;
    width: 35px;
    height: 1px;
    position: absolute;
    left: -50px;
    border: 1px solid black;
}
.conector3::after{
    content:"";
    background: transparent;
    width: 0px;
    height: 400px;
    position: absolute;
    left: -1px;
    border: 1px solid black;
}

.bornera31{
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 148px;
    left: 59px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bornera31::before{
    content: "";
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2.5px;
}
.conector31{
    background: transparent;
    width: 1px;
    height: 100px;
    position: absolute;
    top: 16px;
    border: 1px solid black;
}

.bornera32{
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 132px;
    left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bornera32::before{
    content: "";
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2.5px;
}
.conector32{
    background: transparent;
    width: 65px;
    height: 1px;
    position: absolute;
    left: -80px;
    border: 1px solid black;
}

.bornera4{
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 148px;
    left: 46px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bornera4::before{
    content: "";
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2.5px;
}
.conector4{
    background: transparent;
    width: 1px;
    height: 100px;
    position: absolute;
    top: 16px;
    border: 1px solid black;
}

.bornera5{
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 148px;
    left: 74px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bornera5::before{
    content: "";
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2.5px;
}
.conector5{
    background: transparent;
    width: 1px;
    height: 100px;
    position: absolute;
    top: 16px;
    border: 1px solid black;
}

.bornera6{
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 148px;
    left: 88px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bornera6::before{
    content: "";
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2.5px;
}
.conector6{
    background: transparent;
    width: 1px;
    height: 100px;
    position: absolute;
    top: 16px;
    border: 1px solid black;
}

.borneraAcido{
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borneraAcido::before{
    content: "";
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2.5px;
}
.conectorAcido{
    background: transparent;
    width: 1px;
    height: 8px;
    position: absolute;
    top: -13px;
    border: 1px solid #f31010;
}
.conectorAcido::after{
    content: "";
    background: transparent;
    width: 157px;
    height: 0px;
    position: absolute;
    top: -1px;
    border: 1px solid #f31010;
}
.conectorAcido::before{
    content: "";
    background: transparent;
    width: 0px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 157px;
    border: 1px solid #f31010;
}

.borneraBase{
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borneraBase::before{
    content: "";
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2.5px;
}
.conectorBase{
    background: transparent;
    width: 1px;
    height: 3px;
    position: absolute;
    top: -8px;
    border: 1px solid #001aff;
}
.conectorBase::after{
    content: "";
    background: transparent;
    width: 228px;
    height: 0px;
    position: absolute;
    top: -1px;
    border: 1px solid #001aff;
}
.conectorBase::before{
    content: "";
    background: transparent;
    width: 0px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 228px;
    border: 1px solid #001aff;
}

.borneraAntiespumante{
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borneraAntiespumante::before{
    content: "";
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2.5px;
}
.conectorAntiespumante{
    background: transparent;
    width: 290px;
    height: 0px;
    position: absolute;
    left: 14px;
    border: 1px solid #2bff00;
}
.conectorAntiespumante::before{
    content: "";
    background: transparent;
    width: 0px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 288px;
    border: 1px solid #2bff00;
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}