*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #89a88569;
}
ul {
    list-style: none;
    padding: -20px;
    margin: 0;
}
  
form li + li {
    margin-top: 5px;
}
label {
    display: inline-block;
    width: 300px;
    text-align: right;
}
form {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 1em;
    font-family: 'Helveticah' , Arial;
    font-size: 14px;
  }
input{
    background: #f0e9e9;
    font-family: 'Helveticah' , Arial;
    padding-block: 5px;
    padding-inline: 5px;
    height: 20px;
    width: 50px;
    border-radius: 5px;
    justify-content: left;
    align-items: center;
}

.bt{
    background: #f0f1ef;
    font-family: 'Helveticah' , Arial;
    padding-block: 2px;
    padding-inline: 2px;
    width: 100px;
    top: 400px;
    justify-content: center;
}
.b_simulacion{
    background: #dce688;
    width: 200px;
    height: 50px;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    border-end-start-radius: 5% 10%;
    border-end-end-radius: 5% 10%;
    position: absolute;
}
.encabezado{
    background: #2ec5be;
    font-family: 'Helveticah' , Arial;
    color: #1b0f0f;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 25px;
}
.nombre_pag{
    background: rgb(240, 215, 182);
    font-family: 'Helveticah' , Arial;
    font-size: medium;
    color: #1b0f0f;
    display: flex;
    justify-content: center;
    padding-block: 10px;
    padding-inline: 10px;
    position: absolute;
    top: 10px;
    border-radius: 10px;
}
.simulacion{
    background: white;
    color: #1b0f0f;
    width: 90%;
    height: 110%;
    display: flex;
    position: absolute;
    top: 15%;
    left: 5%;
    justify-content: center;
    border-start-start-radius: 3% 5%;
    border-start-end-radius: 3% 5%;
    justify-content: center;
    align-items: center;
}
.cubierta_simulacion{
    background: rgb(201, 188, 188);
    color: #1b0f0f;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    border-start-start-radius: 3% 5%;
    border-start-end-radius: 3% 5%;
    justify-content: center;
    align-items: center;
}
.biorreactor{
    background: transparent;
    width: 280px;
    height: 305px;
    position: absolute;
    top: 45%;
    /* left: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor1{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 150px;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border: 5px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    border-end-start-radius: 5% 10%;
    border-end-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor2{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 150px;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border: 5px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    border-end-start-radius: 5% 10%;
    border-end-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor3{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 150px;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border: 5px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    border-end-start-radius: 5% 10%;
    border-end-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor4{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 150px;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border: 5px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    border-end-start-radius: 5% 10%;
    border-end-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor5{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 150px;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border: 5px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    border-end-start-radius: 5% 10%;
    border-end-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monitor6{
    background: #f0e088;
    /* width: 250px; */
    width: 250px;
    height: 150px;
    position: absolute;
    top: 60px;
    /* left: 50%; */
    border: 5px solid #e48b17;
    border-start-start-radius: 5% 10%;
    border-start-end-radius: 5% 10%;
    border-end-start-radius: 5% 10%;
    border-end-end-radius: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipientes{
    background: transparent;
    width: 240px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 55%;
}
.recipientes::after{
    background: #2ec5be;
    width: 150px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 55%;
}
.aire{
    background: #d9d9f8;
    width: 100px;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helveticah' , Arial;
    border: 2px solid black;
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
    border-end-start-radius: 40% 10px;
    border-end-end-radius:40% 10px;
}
.aire::before{
    content: "";
    background: black;
    width: 30px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.contenedor{
    background: transparent;
    width: 200px;
    height: 150px;
    position: absolute;
    top: 5px;
    left: 40px;
    display: flex;
    justify-content: center;
}
.contenedor1{
    background: white;
    width: 200px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 5px solid #888080;
    border-end-start-radius: 60px 50px;
    border-end-end-radius: 60px 50px;
}
.liquido{
    background: #a0a062a8;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 0px;
    border-left: 5px solid #888080;
    border-right: 5px solid #888080;
    border-bottom: 5px solid #888080;
    border-end-start-radius: 60px 50px;
    border-end-end-radius: 60px 50px;
}
.chaquetas{
    background: transparent;
    width: 190px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-left: 7px solid #000000;
    border-right: 7px solid #000000;
}
.contenedor2{
    background: transparent;
    width: 250px;
    height: 260px;
    position: absolute;
    top: 40px;
    left: -25px;
    border: 5px solid #888080;
    border-end-start-radius: 50% 12%;
    border-end-end-radius: 50% 12%;
}
.tapa{
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}
.tapa1{
    background: #8a8ae4;
    width: 280px;
    height: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid black;
}
.tapa2{
    background: #8a8ae4;
    width: 240px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 20px;
    border: 1px solid black;
}
.acido{
    background: #f36565;
    width: 60px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helveticah' , Arial;
}
.acido::after{
    content: "";
    background: black;
    width: 30px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.acido::before{
    content: "";
    background: black;
    width: 20px;
    height: 5px;
    position: absolute;
    top: -15px;
}
.base{
    background: #7c7cec;
    width: 60px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 90px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helveticah' , Arial;
}
.base::after{
    content: "";
    background: black;
    width: 30px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.base::before{
    content: "";
    background: black;
    width: 20px;
    height: 5px;
    position: absolute;
    top: -15px;
}
.antiespumante{
    background: #7c7cec;
    width: 60px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 180px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helveticah' , Arial;
}
.antiespumante::after{
    content: "";
    background: black;
    width: 30px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.antiespumante::before{
    content: "";
    background: black;
    width: 20px;
    height: 5px;
    position: absolute;
    top: -15px;
}
.rotometro{
    background: #89c1c457;
    width: 20px;
    height: 90px;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotometro::before{
    content: "";
    background: #89c1c4;;
    width: 6px;
    height: 60px;
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
}
.rotometro::after{
    content: "";
    background: #ff0000;
    width: 10px;
    height: 5px;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    top: 78px;
}
.indicador_rotometro{
    background: #f19203;
    width: 6px;
    height: 6px;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esparcidor{
    background: white;
    width: 105px;
    height: 11px;
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    top: 230px;
    display: flex;
    justify-content: center;
}
.esparcidor::before{
    content: "";
    background: transparent;
    width: 20px;
    height: 5px;
    position: absolute;
    border-left: 6px solid black;
    border-right: 6px solid black;
    top: 0px;
}
.esparcidor::after{
    content: "";
    background: transparent;
    width: 70px;
    height: 5px;
    position: absolute;
    border-left: 6px solid black;
    border-right: 6px solid black;
    top: 0px;
}
.conducto_aire{
    background: white;
    width: 8px;
    height: 270px;
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;
    top: -75px;
    left: 175px;
    display: flex;
    justify-content: center;
}
.conducto_aire::before{
    content: "";
    background: white;
    width: 7px;
    height: 51px;
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;
    top: 270px;
    left: -8.5px;
    display: flex;
    justify-content: center;
    rotate: 40deg;
    translate: -8.7px -7.8px;
}

.sistema_de_agitacion{
    background: transparent;
    width: 100px;
    height: 200px;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pala_central{
    background: #777272;
    width: 8px;
    height: 250px;
    position: absolute;
    top: -50px;
    border: 1px solid black;
}
.cubierta_pala_central{
    background: rgb(119, 114, 114);
    width: 6px;
    height: 240px;
    position: absolute;
    top: -50px;
}
.pala1{
    background: #777272;
    width: 100px;
    height: 5px;
    position: absolute;
    top: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.pala1::before{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: -1px;
}
.pala1::after{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: 82px;
}
.pala2{
    background: #777272;
    width: 100px;
    height: 5px;
    position: absolute;
    top: 135px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.pala2::before{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: -1px;
}
.pala2::after{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: 82px;
}
.pala3{
    background: #777272;
    width: 100px;
    height:5px;
    position: absolute;
    top: 170px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.pala3::before{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: -1px;
}
.pala3::after{
    content: "";
    background: #777272;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    left: 82px;
}
.motor{
    background: #f18238;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -80px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale:80%
}
.motor::before{
    content: "";
    background: #f18238;
    width: 33px;
    height: 8px;
    position: absolute;
    top: -10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-start-start-radius: 15px  7px;
    border-start-end-radius: 15px  7px;
}
.motor::after{
    content: "";
    background: #8f8f8f;
    width: 20px;
    height: 5px;
    position: absolute;
    top: 48px;
    border: 1px solid black;
    
}
.rayas_motor{
    background: #000000;
    width: 2px;
    height: 30px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rayas_motor::before{
    content: "";
    background: transparent;
    width: 20px;
    height: 30px;
    position: absolute;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.rayas_motor::after{
    content: "";
    background: transparent;
    width: 40px;
    height: 30px;
    position: absolute;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.agua{
    background: #f36565;
    width: 95px;
    height: 85px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 300px;
    left: 500px;
    border: 2px solid black;
    border-radius: 10px;
}
.agua::before{
    content: "";
    background: #ffffff;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
    border-radius: 50%;
}
.agua::after{
    content: "AGUA";
    background: transparent;
    position: absolute;
    top: 55px;
    font-family: 'Helveticah' , Arial;
}
.filtro{
    background: #89c1c457;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -30px;
    left: 30px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtro::before{
    content: "";
    background: #89c1c4;;
    width: 4px;
    height: 37px;
    position: absolute;
    top: 18px;
    left: 60%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.filtro::after{
    content: "";
    background: #89c1c4;;
    width: 10px;
    height: 4px;
    position: absolute;
    left: -11px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.sensor_ph{
    background: #a3a3a3;
    width: 5px;
    height: 150px;
    position: absolute;
    top: -70px;
    left: 28px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sensor_ph::before{
    content: "";
    background: #4043e9;
    width: 8px;
    height: 50px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.sensor_temperatura{
    background: #a3a3a3;
    width: 5px;
    height: 150px;
    position: absolute;
    top: -70px;
    left: 42px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sensor_temperatura::before{
    content: "";
    background: #f53a0b;
    width: 8px;
    height: 50px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.sensor_o2{
    background: #a3a3a3;
    width: 5px;
    height: 150px;
    position: absolute;
    top: -70px;
    left: 56px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sensor_o2::before{
    content: "";
    background: #cd11f3;
    width: 8px;
    height: 50px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.sensor_espuma{
    background: #a3a3a3;
    width: 5px;
    height: 110px;
    position: absolute;
    top: -70px;
    left: 70px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sensor_espuma::before{
    content: "";
    background: #68be16;
    width: 8px;
    height: 50px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.receptor_tuberias{
    background: #a3a3a3;
    width: 25px;
    height: 26px;
    position: absolute;
    top: 45px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.receptor_tuberias::before{
    content: "";
    background: #a3a3a3;
    width: 28px;
    height: 5px;
    position: absolute;
    top: -1px;
    border: 1px solid black;
}
.receptor_tuberias::after{
    content: "";
    background: #a3a3a3;
    width: 28px;
    height: 15px;
    position: absolute;
    top: 8px;
    border: 1px solid black;
}
.conducto_acido_base{
    background: #ffffff;
    width: 18px;
    height: 110px;
    position: absolute;
    top: -75px;
    left: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.conducto_acido_base::before{
    content: "";
    background: #ffffff;
    width: 2px;
    height: 110px;
    position: absolute;
    top: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.conducto_astiespumante{
    content: "";
    background: #ffffff;
    width: 8px;
    height: 110px;
    position: absolute;
    top: -75px;
    left: 162px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}